@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
    margin-left: -12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #c2c2c2;
}
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

body::-webkit-scrollbar {
    width: 8px;
}